<html>
    <title>
        Image Share - Login
    </title>
    <link rel = "stylesheet" type = "text/css" href = "style.css"/>
    <body id = "backgroundImage">
        <div class = "container">
            <div id = "login">
                <h2 text-align = "center">Login</h2>
                <% if (msg) { %>
                    <p style="color: red;"><%= msg %></p>
                <% } %>
                <form id = "loginForm" method = "POST" action = "/login">
                    <input type = "text" class = "loginInput" placeholder = "Enter your username" name = "name" required><br>

                    <input type = "password" class = "loginInput" placeholder = "Enter your password" name = "password" required><br>

                    Not yet registered? Click <a href = /register>here</a>!<br>

                    <button type = "submit" class = "loginButton">Login</button><br>
                </form>
            </div>
        </div>
    </body>
</html>